body {
    background-color:#151b29 ;
}
h1 {
    color:aquamarine ;
}
p {
    color:azure ;
}
.button-crow {
    background: blue;
    height: 20px;
    width: 40px;
    border: none;
    outline: none;
}
.button-coffee {
    background: blue;
    height: 20px;
    width: 40px;
    border: none;
    outline: none;
}